.booking-box{
  background-color: white;
  border-radius: 30px;
  border:none;
  padding: 10px;
  text-align: center;
  img{
    width: 90%;
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
    background-color: white;
    margin: 15px 0px;
  }
}

.booking-grid{
  margin-top: 50px;
}

@media(min-width: 600px){
  .booking-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
