#my-infos{
  background-color: white;
  justify-content: space-between;
  border-radius: 30px;
  hr{
    margin: 0px
  }
}

.dashboard-box-link{
  color: $bric;
  margin: 0;
  &:hover{
    text-decoration: none;
    color: $bric;
  }
}

@media(min-width: 900px) {
  #dashboard{
    padding: 5%;
    
    #menu-desktop{
      display: block;
    }
    #menu-mobile{
      display: none;
    }
    #my-profile {
      display: flex;
      justify-content: space-between;
      #left-dash{
        width: 20%;
        position: sticky;
        position: -webkit-sticky;
        top : 100px;
        height: fit-content;
      }
      #my-infos{
        display: block;
        #my-photo{
          padding: 0px;
          img{
            height: 100%;
            width:100%;
            border-radius: 30px 30px 0px 0px;
          }
        }
        #my-details{
          padding: 15px;
          h2{
            font-size: 1.6rem;
          }
        }
      }
      #right-infos{
        width: 75%;
        margin-top: 20px;
        .games-grid{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px;
        }
      }
    }
  }
}

@media(max-width: 900px) {
  #dashboard{
    padding: 5%;
    margin-bottom: 40px;
    margin-top: 60px;
    #my-profile {
      display: block;
      #menu-desktop{
        display: none;
      }
      #menu-mobile{
        display: block;
        margin-top: 20px;
      }
      #left-dash{
        width: 100%;
        position: sticky;
      }
      #my-infos{
        width: 100%;
        display: flex;
        #my-photo{
          padding: 15px 0px 15px 15px;
          img{
            height: 100%;
            width:100%;
            border-radius: 30px;
            object-fit: cover;
          }
        }
        #my-details{
          padding: 15px;
          h2{
            font-size: 1.2rem;
          }
        }
      }
      #right-infos{
        display:none;
      }
    }
  }
  #dash-my-games{
    margin-top: 120px;
    .games-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  .mob-nav-dash{
    padding: 5%; 
    position: fixed; 
    left: 0px; 
    top: 60px; 
    background-color:#F4F4F4; 
    width: 100%; 
    display: flex; 
    justify-content:space-between;
  }
   #dash-my-games-bookings{
      padding: 5%;
      margin-top: 50px;
     }
    }

@media(max-width: 700px) {
  #dashboard{
    padding: 5%;
    margin-bottom: 40px;
    margin-top: 60px;
    #my-profile {
      display: block;
      #menu-desktop{
        display: none;
      }
      #menu-mobile{
        display: block;
        margin-top: 20px;
      }
      #left-dash{
        width: 100%;
        position: sticky;
      }
      #my-infos{
        width: 100%;
        display: flex;
        #my-photo{
          padding: 15px 0px 15px 15px;
          img{
            height: 100%;
            width:100%;
            border-radius: 30px;
            object-fit: cover;
          }
        }
        #my-details{
          padding: 15px;
          h2{
            font-size: 1.2rem;
          }
        }
      }
      #right-infos{
        display:none;
      }
    }
  }
  #dash-my-games{ 
    .games-grid{
    display: block;
    }
  }
  .mob-nav-dash{
    padding: 5%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    background-color:#F4F4F4; 
    width: 100%; 
    display: flex; 
    justify-content:space-between;
  }
}

.active-red, .active-red-mob{
  background-color: $bric !important;
  color: white;
}

.add-game-btn{
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 8px;
  align-self: center;
  margin-left: 15px;
  box-shadow: 2px 8px 8px rgba(153, 147, 147, 0.151);
  &:hover{
    color: $bric;
    text-decoration: none;
  }
}

// .bric-dash-add{
//   color: white;
//   position: fixed;
//   bottom: 10px;
//   padding: 10px;
//   border-radius: 30px;
//   background-color: $bric;
// }

.games-count{
  margin-bottom: 50px;
}