#games-index{
 h1{
   margin: 5% 5% 0% 5%;
 }
}
#games-left{
  border-radius: 30px;
}

@media(min-width: 900px) {
  #games{
    display: flex;
    padding: 5%;
    justify-content: space-between;
    #games-left{
      padding: 15px;
      width: 25%;
      display: block;
      justify-content: space-between;
      background-color: white;
      height: fit-content;
    }
    #games-right{
      width: 70%;
      .games-grid{
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      h2{
        color: black;
      }
      }
    }
  }
}