.game-box{
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
  img{
    width: 90%;
    background-color: white;
    margin: 15px 0px;
  }
  .about-this-game{
    display: flex;
    justify-content: center;
    p{
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .last-line{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .edit-game{
    display: flex;
    justify-content: flex-end;
    a{
      .far{
        margin-left: 8px;
        color: $bric;
      }
    }
  }
}