.game-box{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  img{
    width: 100%
  }
  .about-this-game{
    display: flex;
    justify-content: center;
    p{
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}