.game-box{
  background-color: white;
  padding: 0px;
  border-radius: 30px;
  text-align: center;
  img{
    width: 90%;
    height: 200px;
    object-fit: contain;
    background-color: white;
    margin: 15px 0px;
  }
  .about-this-game{
    display: flex;
    justify-content: center;
    p{
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .last-line{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }

  .edit-game{
    display: flex;
    justify-content: flex-end;
    a{
      .far{
        margin-left: 8px;
        color: $bric;
      }
    }
  }
}


@media(max-width: 900px) {
  .game-box{
    margin-bottom: 15px;
  }
}