#games-index{
 h1{
   margin: 5% 5% 0% 5%;
 }
}
#games-left{
  border-radius: 30px;
}

@media(min-width: 900px) {
  #games{
    display: flex;
    padding: 5%;
    justify-content: space-between;
    #games-left{
      padding: 15px;
      width: 300px;
      display: block;
      justify-content: space-between;
      height: fit-content;
      position: sticky;
      top: 100px;
    }
    #games-right{
      width: 70%;
      .games-grid{
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      h2{
        color: black;
      }
      }
    }
  }
}

.input-filter{
  width: 100%;
  margin-top: 15px;
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 23px;
  box-shadow: 6px 3px 3px rgba(192, 192, 164, 0.226);
}