@media(max-width: 500px){
  #footer{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  justify-content: space-evenly;
  background-color:#f4f4f4;
  padding: 10px;
  a{
    color: grey;
    font-size: 23px;
  }
  .footer-active{
    color: $bric;
  }
  }
}

@media(min-width: 500px){
  #footer{
  display: none;
  }
}