// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Actor', sans-serif;
}

h1, h2{
  font-weight: bold;
}
p{
  color:grey;
}

h2{
  font-size: 1.7rem;
}

.black{
    color:black
}


.btn-inside{
  text-align: center;
  width: 100%;
}

.bric-btn{
  padding: 15px;
  background-color: $bric;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 30px;
  &:hover{
    color:white;
    text-decoration: none;
    background-color: rgb(224, 139, 139);
  }
  p{
    margin: 0;
    color: white;
    text-transform: uppercase;
    &:hover{
      color:white;
      text-decoration: none;
    }
  }
}

input.bric-btn{
  width: 100%;
  padding: 15px;
    background-color: $bric;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 30px;
    p{
      margin: 0;
      color: white;
      text-transform: capitalize;
    }
}


.white-btn{
  text-align: left;
  padding: 12px;
  background-color: white;
  text-decoration: none;
  color: color;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  p{
    margin: 0;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  .fa-chevron-right{
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

.orange{
  color: $bric;
}
